= content_for(:title, 'Sign in')

%h1 Sign in

%div{:class => 'row'}
  %div{:class => 'span6 offset3'}
    = form_for :session, url: sessions_path do

      = label_tag :access_code, "Enter your access code"
      = password_field :access_code, :class => :password_field
      %br
      // = submit_tag "Sign in", class: "btn btn-default"
      = submit_tag "Sign in"
