!!!
%html
  %body
    %form{:action => "judgement"}
      Novelty (research contribution of the work)
      %br/
      = succeed "1" do
        %input{:name => "cat1", :type => "radio", :value => "1"}/
      = succeed "2" do
        %input{:name => "cat1", :type => "radio", :value => "2"}/
      = succeed "3" do
        %input{:name => "cat1", :type => "radio", :value => "3"}/
      = succeed "4" do
        %input{:name => "cat1", :type => "radio", :value => "4"}/
      = succeed "5" do
        %input{:name => "cat1", :type => "radio", :value => "5"}/
      %br/
      %br/
      Utility (practical implications of the work)
      %br/
      = succeed "1" do
        %input{:name => "cat2", :type => "radio", :value => "1"}/
      = succeed "2" do
        %input{:name => "cat2", :type => "radio", :value => "2"}/
      = succeed "3" do
        %input{:name => "cat2", :type => "radio", :value => "3"}/
      = succeed "4" do
        %input{:name => "cat2", :type => "radio", :value => "4"}/
      = succeed "5" do
        %input{:name => "cat2", :type => "radio", :value => "5"}/
      %br/
      %br/
      Difficulty (the research depth and practical difficulty in getting the results - e.g. data gathering or system building)
      %br/
      = succeed "1" do
        %input{:name => "cat3", :type => "radio", :value => "1"}/
      = succeed "2" do
        %input{:name => "cat3", :type => "radio", :value => "2"}/
      = succeed "3" do
        %input{:name => "cat3", :type => "radio", :value => "3"}/
      = succeed "4" do
        %input{:name => "cat3", :type => "radio", :value => "4"}/
      = succeed "5" do
        %input{:name => "cat3", :type => "radio", :value => "5"}/
      %br/
      %br/
      Verbal Presentation
      %br/
      = succeed "1" do
        %input{:name => "cat4", :type => "radio", :value => "1"}/
      = succeed "2" do
        %input{:name => "cat4", :type => "radio", :value => "2"}/
      = succeed "3" do
        %input{:name => "cat4", :type => "radio", :value => "3"}/
      = succeed "4" do
        %input{:name => "cat4", :type => "radio", :value => "4"}/
      = succeed "5" do
        %input{:name => "cat4", :type => "radio", :value => "5"}/
      %br/
      %br/
      Written/Graphical Presentation (the poster itself)
      %br/
      = succeed "1" do
        %input{:name => "cat5", :type => "radio", :value => "1"}/
      = succeed "2" do
        %input{:name => "cat5", :type => "radio", :value => "2"}/
      = succeed "3" do
        %input{:name => "cat5", :type => "radio", :value => "3"}/
      = succeed "4" do
        %input{:name => "cat5", :type => "radio", :value => "4"}/
      = succeed "5" do
        %input{:name => "cat5", :type => "radio", :value => "5"}/
