%meta{name: "viewport", content: "width= device-width, initial-scale=1"}
%div{:class => "container"}
    %div{:class => "col-sm-11 col-lg-11"}
        = form_for @judge, url: judge_assign_path(@judge.id), multipart: true do
            .form-group
                = label_tag :name, "Enter your name: "
                = text_field_tag :name, "", class: "form-control"

            .form-group
                = label_tag :company, "Enter the name of your company/organization: "
                = text_field_tag :company, "", class: "form-control"

            .form-group
                = submit_tag "Register", class: "btn btn-default"
