%h3 <strong> Howdy</strong>, #{@judge.name} from #{@judge.company_name}!
%br

%h4 Assignments
- if @posters.empty?
  %p None
- else  
  - @posters.each do |poster|
    - is_disabled = false
    - if @disable.include?(poster.id)
      - is_disabled = true
    = button_to "Poster ##{poster.number} - #{poster.title}", judge_poster_judge_path(@judge.id, poster.id), method: "get", disabled: is_disabled, class: "btn btn-default btn-lg btn-block"
		
%h4 Posters need scored
- if @orphan_posters.empty?
  %p None
- else
  %table{class: "table table-bordered"}
    %thead
      %tr
        %th Number
        %th Title
        %th Accept
    %tbody
      - @orphan_posters.each do |poster|
        %tr
          %td= poster.number
          %td= poster.title
          %td= button_to 'Accept', judge_poster_accept_path(@judge.id,poster.id), method: :get