-# in app/views/judges/show.html.haml

%h3 <strong> Howdy</strong>, #{@judge.name} from #{@judge.company_name}!
%br

%h4 Assignments
- if @posters.empty?
  %p None
- else
  %table{class: "table table-bordered", id: "assigned_posters_table"}
    %thead
      %tr
        %th Poster #
        %th Title
        %th Average
        %th Grade
    - @posters.each do |poster|
      %tbody
        %tr
          %td= poster.number
          %td= poster.title
          %td= show_score(@judge_avgs[poster.id])
          %td= button_to 'Grade', edit_judge_score_path(@judge.id, poster.id), :method => :get
%h4 Posters need scored
- if @orphan_posters.empty?
  %p None
- else
  %table{class: "table table-hover table-bordered", id: "orphan_posters_table"}
    %thead
      %tr
        %th Poster #
        %th Title
        %th Accept
    %tbody
      - @orphan_posters.each do |poster|
        %tr
          %td= poster.number
          %td= poster.title
          %td= button_to 'Accept', judge_score_accept_path(@judge.id,poster.id), method: :get, data: {confirm: volunteer_msg}