%meta{name: "viewport", content: "width= device-width, initial-scale=1"}
%div{:class => "container"}
    = button_to "Back", admin_root_path, method: "get", class: "btn btn-default"
    = form_tag import_admin_posters_path, :class => "form-inline", multipart: true  do
        .form-group
            = file_field_tag :file
        .form-group
            = submit_tag "Import", class: "btn btn-default"
        
    - if flash[:notice]
        %br
        %div{class: "alert alert-sm alert-success"}
            #notice.message= flash[:notice]
    - elsif flash[:warning]
        %br
        %div{class: "alert alert-warning"}
            #notice.message= flash[:warning]

    = button_to "Download", download_admin_posters_path, method: "get", class: "btn btn-default", form: {style: 'display:inline-block'}
    
    = button_to "Clear", clear_admin_posters_path, method: "delete", class: "btn btn-default", form: {style: 'display:inline-block'}
    %br
    %br
    %table{:class => "table table-bordered"}
        %thead
            %th #
            %th Presenter
            %th Title
            %th Advisor(s)
        %tbody
            - @posters.each do |poster|
                %tr
                    %td= poster.number
                    %td= poster.presenter
                    %td= poster.title
                    %td= poster.advisors

