= form_tag import_admin_posters_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"
- if flash[:notice]
    #notice.message= flash[:notice]
- elsif flash[:warning]
    #notice.message= flash[:warning]
= button_to "Clear", clear_admin_posters_path, method: "delete"
%table#posters
    %thead
        %th #
        %th Presenter
        %th Title
        %th Advisor(s)
    %tbody
        - @posters.each do |poster|
            %tr
                %td= poster.number
                %td= poster.presenter
                %td= poster.title
                %td= poster.advisors

