= button_to "Back", admin_root_path, method: "get"
= button_to 'Download', download_ranks_admin_posters_path, method: "get"
%table#posters
    %thead
        %th Rank
        %th Presenter
        %th Title
        %th Avg. Score
    %tbody
        - i = 1
        - @posters.each do |poster|
            %tr
                %td= i
                %td= poster.presenter
                %td= poster.title
                %td= "%.3f" % @avg_scores[poster.number]
            - i += 1

