= button_to "Back", admin_root_path, method: "get", class: "btn btn-default"

= form_tag admin_reset_pw_path, method: "put", multipart: true do
    .form-group
        = label_tag :new_pw, "Enter new password: "
        = password_field_tag :new_pw, "", class: "form-control"

    .form-group
        = label_tag :confirm_pw, "Confirm the new password: "
        = password_field_tag :confirm_pw, "", class: "form-control"

    .form-group
        = submit_tag "Submit", class: "btn btn-default"
