

%br
= button_to "View Posters", admin_posters_path, method: "get", class: "btn btn-lg btn-default btn-block"
%br
= button_to "View Users", admin_judges_path, method: "get", class: "btn btn-default btn-lg btn-block"
%br
= button_to "View Scores", admin_scores_path, method: "get", class: "btn btn-default btn-lg btn-block"
%br
= button_to "View Poster Rankings", rankings_admin_scores_path, method: "get", class: "btn btn-default btn-lg btn-block"
%br
= button_to "Reset Password", admin_reset_path, method: "get", class: "btn btn-default btn-lg btn-block"
%br

= "Event Date:   "
= @event_date_set.inspect
%br 
%br
= form_tag admin_root_path, :id=> "form_id", :method => :get do 
  = date_field("event", "date",:default => Date.today) 
  %br
  = submit_tag 'Update Date'

=button_to "Student Signup Page", new_poster_path, method: "get"

= "IAP QR Code:"
.qrcode
  = image_tag "qrcode.png"
.pull-center
  = button_to 'download QR code', download_sessions_path, method: "get"
  
