= button_to "Back", admin_root_path, method: "get", class: "btn btn-default"

= form_tag admin_judges_path, class: "inline" do
    - if superadmin?
        admins:
        = text_field_tag :admin_number, nil, placeholder: "Enter the number of admins here"
    %br
    judges :
    = text_field_tag :number, nil, placeholder: "Enter the number of judges here"
    = submit_tag "Generate", class: "btn btn-default"

= button_to "Clear", clear_admin_judges_path, method: "delete", class: "btn btn-default"

%table{:class => "table table-bordered"}
    %thead
        %th Access Code
        %th Role
        %th Name
        %th Company
        %th manage
    %tbody
        - @judges.each do |judge|
            %tr
                %td= judge.access_code
                %td= judge.role
                %td= judge.name
                %td= judge.company_name
                %td= button_to "delete", admin_judge_path(judge), :method => :delete, :disabled => higher_rank?(judge.role), data: { confirm: "Are you sure?" } 