- @posters.each do |poster|
        %tr
                %td= poster.number
                %td= poster.presenter
                %td= poster.title
                %td= show_poster_avg(poster, @poster_avgs[poster.id])
                -# counts total number of actually scored posters = judges
                %td= get_actual_scores_count(poster)
                %td= link_to "See Details", admin_score_path(poster)
