- @posters.each do |poster|
        %tr
                %td= poster.number
                %td= poster.presenter
                %td= poster.title
                %td= show_poster_avg(poster, @poster_avgs[poster.id][:avg])
                -# counts total number of actually scored posters = judges
                %td= @poster_avgs[poster.id][:count]
                %td= link_to "See Details", admin_score_path(poster)
