-#:javascript
-#        setInterval(function() {window.location.reload();}, 5000);
= button_to "Back", admin_root_path, method: "get", class: "btn btn-default btn"

= form_tag admin_scores_path, :class => "navbar-search pull-left", :method => :get do
        = text_field_tag 'searchquery', nil, :class => "search-query span3", :placeholder => "Search"
        = submit_tag "Search", class: "btn btn-success btn-md"
        
%table{class: "table table-bordered"}
        %thead
                %th Poster #
                %th Presenter
                %th Title
                %th Average
                %th Detail
        %tbody
                - @posters.each do |poster|
                        %tr
                                %td= poster.number
                                %td= poster.presenter
                                %td= poster.title
                                %td= show_avg(poster.no_show, @avgs[poster.id])
                                %td= link_to "See Details", admin_score_path(poster)
