:javascript
        setInterval(function() {window.location.reload();}, 5000);
= button_to "Back", admin_root_path, method: "get", class: "btn btn-default btn"

%table{class: "table table-bordered"}
        %thead
                %th Poster #
                %th Novelty
                %th Utility
                %th Difficulty
                %th Verbal
                %th Written
                %th No Show?
                %th Judge
        %tbody
                - @scores.each do |score|
                        %tr
                                %td= score.poster.number == -1 ? '-' : score.poster.number
                                %td= score.novelty == -1 ? '-' : score.novelty
                                %td= score.utility == -1 ? '-' : score.utility
                                %td= score.difficulty == -1 ? '-' : score.difficulty
                                %td= score.verbal == -1 ? '-' : score.verbal
                                %td= score.written == -1 ? '-' : score.written
                                %td= score.no_show ? 'Not Here' : 'Here'
                                %td= score.judge.name
