-# in app/views/admin/scores/index.html.haml
%body

-#        $(document).on("change", 'input[type="checkbox"]', function(){
-#                document.getElementById("status_form").submit();
-#        });
:javascript
        var FilterTable = {
                setup: function() {
                        $(document).on("change", 'input[type="radio"]', FilterTable.filter);
                        $('#search_form').on('submit', FilterTable.filter);
                }
                ,filter: function(e){
                        e.preventDefault();
                        if (e.type == "change"){
                                $('#searchquery').val('');        
                        };
                        
                        $.ajax({
                                type: 'GET',
                                url: '/admin/scores',
                                data: {
                                        status: $('input[name="status"]:checked').val(),
                                        searchquery: $('#searchquery').val()
                                },
                                success:  function(data){
                                        $('#scores_content').html(data);
                                        if (e.type == "submit") {
                                                $('input[type="submit"]').prop('disabled', false);
                                        };
                                },
                                error: function (error) {
                                        alert(error);
                                }
                        });
                }
        };
        $(FilterTable.setup);
= button_to "Back", admin_root_path, method: "get", class: "btn btn-default btn"

= button_to "Download", download_scores_admin_scores_path, method: "get", class: "btn btn-default btn"
  
-#= form_tag admin_scores_path, :id => "status_form", :class => "pull-left", :method => :get do
-#        = label_tag 'No Show'
-#        = check_box_tag "status[no_show]", id: "status_no_show"
-#        = label_tag 'Partially Scored'
-#        = check_box_tag "status[unscored]", id: "status_unscored"
-#        = label_tag 'Completely Scored'
-#        = check_box_tag "status[scored]", id: "status_scored"

= form_tag admin_scores_path, :id => "status_form", :class => "pull-left", :method => :get do
        = label_tag 'All'
        = radio_button_tag "status","all",  filter("all"),id: "status_all"
        = label_tag "No Show", nil, class: "padding-label"
        = radio_button_tag "status", "no_show", filter("no_show"), id: "status_no_show"
        = label_tag 'Need More Judges', nil, class: "padding-label"
        = radio_button_tag "status","undone", filter("undone"), id: "status_undone"
        = label_tag 'In Progress', nil, class: "padding-label"
        = radio_button_tag "status","inprogress", filter("inprogress"), id: "status_inprogress"
        = label_tag 'Completed', nil, class: "padding-label"
        = radio_button_tag "status","completed",  filter("completed"),id: "status_completed"
        
= form_tag admin_scores_path, :id => "search_form", :class => "navbar-search pull-right", :method => :get do
        = text_field_tag 'searchquery', nil, :class => "search-query span3", :placeholder => "Search"
        = submit_tag "Search", class: "btn btn-success btn-md"
      
%table{class: "table table-bordered", id: "scores_table"}
        %thead
                %th Poster #
                %th Presenter
                %th Title
                %th Average
                %th # Scores
                %th Detail
        %tbody{id: "scores_content"}
                - @posters.each do |poster|
                        %tr
                                %td= poster.number
                                %td= poster.presenter
                                %td= poster.title
                                %td= show_poster_avg(poster, @poster_avgs[poster.id][:avg])
                                -# counts total number of actually scored posters = judges
                                %td= @poster_avgs[poster.id][:count]
                                %td= link_to "See Details", admin_score_path(poster)
