:javascript
    setInterval(function() {window.location.reload();}, 5000);

= button_to "Back", admin_root_path, method: "get", class: "btn btn-default"

= button_to 'Download', download_ranks_admin_scores_path, method: "get", class: "btn btn-default"

%table{class: "table table-bordered", id: "ranking_table"}
    %thead
        %th Rank
        %th Presenter
        %th Title
        %th Avg. Score
    %tbody
        - i = 0
        - @posters.each do |poster|
            %tr
                - viewed_poster_avg = show_poster_avg(poster, @poster_avgs[poster.id])
                %td= i = view_ranking(viewed_poster_avg, i)
                %td= poster.presenter
                %td= poster.title
                %td= viewed_poster_avg