-#:javascript
-#        setInterval(function() {window.location.reload();}, 5000);

= button_to "Back", admin_root_path, method: "get", class: "btn btn-default"

= button_to 'Download', download_ranks_admin_scores_path, method: "get", class: "btn btn-default"

%table{class: "table table-bordered"}
    %thead
        %th Rank
        %th Presenter
        %th Title
        %th Avg. Score
    %tbody
        - i = 0
        - @posters.each do |poster|
            %tr
                %td= i = i + 1
                %td= poster.presenter
                %td= poster.title
                %td= show_score(@poster_avgs[poster.id])
