-# in app/views/admin/scores/show.html.haml
= button_to "Back", admin_scores_path, method: "get", class: "btn btn-default btn"
%h2 Details about Poster Number #{@poster.number}

%ul#details
title: #{@poster.title}
%table{class: "table table-bordered"}
  %thead
    %tr
      %th Judge
      - @score_terms.each do |term|
        %th= term
      %th Average
      %th Edit
  %tbody
    -@scores.each do |score|
      %tr
        %td= score.judge.name
        - @score_terms.each do |term|
          %td= show_score(score.send(term))
        %td= show_score(@avgs_per_judge[score.judge_id])
        %td= link_to 'Edit', edit_admin_score_path(score), method: :get
    
    %tr
      %td Average
      - @score_terms.each do |term|
        %td -
      %td= show_score(@avg_per_poster)
      %td
