%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'PosterJudging'
    %meta{name: "viewport", content: "width= device-width, initial-scale=1"}
    = stylesheet_link_tag    :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    :javascript
      $(function(){
        $("#leave-confirm").dialog({
          autoOpen: false,
          resizable: false,
          height: "auto",
          width: 500,
          modal: true,
          buttons: {
            Yes: function() {
              $(this).dialog("close");
              $("#signout_button").trigger("click");
            },
            No: function() {
              $(this).dialog("close");
              $("#leave_button").trigger("click");
            }
          }
        });
        $("#signout").click(function(event){
          $.ajax({
            type: "get",
            url: "/signout_check",
            dataType: "json",
            success:  function(data){
              if (data){
                $("#signout_button").trigger("click");
              } else{
                $("#leave-confirm").html("Do you want to keep your unscored assignments?");
                $("#leave-confirm").dialog("open");
              }
            }
          });
          return false;
        });
      });
      
    %div{class: "header"}
      - if current_user
        = link_to "Sign out", signout_path, :method => :delete, class: "sign-out", id: "signout"
        = button_to "ajax sign out", signout_path, :method => :delete, class: "invisible", id: "signout_button"
        = button_to "judge leave", judge_leave_path(current_user), :method => :get, class: "invisible", id: "leave_button"
      =image_tag('logo.png', style: "position: absolute; top: 35px;")
    %div{id: "leave-confirm"}
    %div{:class => "content container"}
      %br
      %div{:class => "col-sm-12 col-lg-12"}
        - if flash[:notice]
          %div{class: "alert alert-success"}
            #notice.message= flash[:notice]
        - elsif flash[:alert]
          %div{class: "alert alert-danger"}
            #notice.message= flash[:alert]
        - elsif flash[:error]
          %div{class: "alert alert-danger"}
            #notice.message= flash[:error]
      = yield
